body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 80px;
}

.info {
  display: flex;
  gap: 40px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 30px;
  height: 30px;
}

.texto {
  font-size: 14px;
  line-height: 1.4;
}

/* BANNER COM FUNDO DESFOCADO */
.banner {
  background: url('/img/Background.png') no-repeat center center;
  background-size: cover;
  position: relative;
  padding: 100px 20px;
  text-align: center;
  color: white;
  max-height: 100%;
}

.banner h1,
.banner h2,
.banner .pesquisa {
  position: relative;
  z-index: 1;
}

.banner h1 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 30px;
}

.banner h2 {
  font-size: 24px;
  margin-top: 10px;
}

.pesquisa {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pesquisa input {
  padding: 10px 20px;
  border: 3px solid #31aa25;
  border-radius: 25px 0 0 25px;
  outline: none;
  width: 300px;
  font-size: 14px;
}

.pesquisa button {

  padding: 10px 15px;
  background-color: #31aa25;
  color: white;
  border: none;
  border-radius: 0px 25px 25px 0px;
  cursor: pointer;
}


.fa-fa-search img {
  max-width: 15px;
}

.menu-site {
  background: rgba(0, 40, 100, 0.5);
  /* azul escuro com leve transparência */
  padding: 15px 0;
  font-family: Arial, sans-serif;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  left: 0;
}

.menu-site ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-site li {
  position: relative;
  padding: 0 10px;
}

.menu-site li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 30%;
  height: 40%;
  width: 1px;
  background: white;
}

.menu-site a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  transition: transform 0.2s ease, background 0.3s, color 0.3s;
  line-height: 30px;
}

.menu-site a:hover {
  font-size: 17px;
  background: white;
  color: #002864;
  border-radius: 4px;
  transform: scale(1.15);
}

.widget-tempo {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.6);
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  backdrop-filter: blur(4px);
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 3;
}

.icone-sol {
  font-size: 28px;
}

.info-tempo strong {
  color: #222;
  font-size: 15px;
}

.legislacao {
  background: linear-gradient(135deg, #eeeeee, #d3d3d3);
  color: white;
  padding: 60px 20px 40px;
  border-radius: 0 0 50% 50% / 0 0 10% 10%;
  text-align: center;
  margin: 0;
  position: relative;
  overflow: hidden;
}


.legislacao h2 {
  font-size: 2rem;
  color: #555;
  margin-bottom: 30px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #bfbfbf;
  padding: 40px;
  border-radius: 16px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card img {
  max-width: 50px;
}

.card:hover {
  transform: translateY(-4px);
}

.card a {
  color: white;
  font-size: 28px;
  margin-bottom: 8px;
  text-decoration: none;
}

.card h3 {
  margin: 10px 0;
  font-size: 1.1rem;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  margin-top: 10px;
}

.botoes button {
  background-color: #bfbfbf;
  border: none;
  padding: 8px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s, transform 0.2s;
  font-size: 0.85rem;
}

.botoes button:hover {
  background-color: #a5a5a5;
  transform: scale(1.03);
}

/* Responsivo */
@media (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 300px;
  }
}

.oficios {
  padding: 40px 0px 40px;
}

.oficios h2 {
  font-size: 2rem;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}

.escola {
  background: linear-gradient(135deg, #eeeeee, #d3d3d3);
  color: white;
  padding: 60px 20px 40px;
  border-radius: 50% 50% 0 0 / 10% 10% 0 0;
  text-align: center;
  margin: 0;
  position: relative;
  overflow: hidden;
}


.escola h2 {
  font-size: 2rem;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}

.plano {
  padding: 40px;
}

.plano h2 {
  font-size: 2rem;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}

.planopm {
  color: white;
  text-align: center;
  margin: 0;
  position: relative;
  overflow: hidden;
  padding: 40px;
}

.planopm h2 {
  font-size: 2rem;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
}

footer {
  font-family: Arial, sans-serif;
}

/* SEÇÃO 1 - topo com imagem de fundo */
.footer-top {
  background: url('/img/Rodape.png') center/cover no-repeat;
  color: #fff;
  padding: 40px 20px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.footer-logo img {
  width: 300px;
}

.footer-titulo {
  text-align: center;
  flex: 1;
}

.footer-titulo h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.footer-titulo p {
  font-size: 16px;
}

.footer-redes a {
  margin: 0 6px;
  display: inline-block;
  transition: transform 0.3s;
}

.footer-redes img {
  width: 50px;
}

.footer-redes a:hover {
  transform: scale(1.1);
}

/* SEÇÃO 2 - info + links */
.footer-bottom {
  background: #f4f4f4;
  padding: 30px 20px 10px;
  color: #000;
}

.footer-info,
.footer-links {
  width: 100%;
  max-width: 500px;
}

.footer-info h4,
.footer-links h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-info p {
  margin-bottom: 20px;
  line-height: 1.6;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #555;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

.footer-links a::before,
.footer-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #A6A6A6;
  transition: all 0.5s;
}

.footer-links a::before {
  top: 0;
  left: 0;
}

.footer-links a::after {
  bottom: 0;
  right: 0;
}

.footer-links a:hover::before {
  width: 100%;
  transition: width 0.25s ease-in-out;
}

.footer-links a:hover::after {
  width: 100%;
  transition: width 0.25s ease-in-out 0.25s;
}

/* rodapé final */
.footer-copy p {
  text-align: center;
  padding: 10px;
  background: #222;
  color: #fff;
  font-size: 20px;
  width: 100%;
}